html {
	box-sizing: border-box;
}
*, ::before, ::after {
	box-sizing: inherit;
}
img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
body {
	max-width: 1440px;
	min-width: 320px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 28px;
	background: #E5E5E5;
}
main {
	/*display: flex;
	flex-wrap: wrap;
	justify-content: space-between;*/
}
h1 {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #1F2041;
}
.logo {
	width: 48px;
	height: 48px;
	background-image: url("../img/Group.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px;
}
.centr-wrap {
	margin-top: 110px;
	max-width: 1440px;
	min-width: 320px;
}
/*----------------------*/
.menu-top {
	background-color: #fff;
	margin: 0 auto;
	padding: 15px 140px;
}
.menu-top-full {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}
.menu-top_logo {
	width: 106px;
	/*margin-top: 15px;*/
	display: flex;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
}
.logo_icon {
	width: 40px;
	height: 40px;
	padding-left: 40px;
	background-image: url("../img/Group.png");
	background-position: center;
	background-repeat: no-repeat;
}
.logo_text {
	width: 54px;
	height: 13px;
	padding-left: 54px;
	background-image: url("../img/TOXIN.png");
	background-position: center;
	background-repeat: no-repeat;
}
.menu-top-nav {
	max-width: 780px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.menu-top_point {
	margin-top: 6px;
}
.menu-top_point-nav {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}
.menu-top_point-nav li:not(:first-child) {
	margin-left: 20px;
}
.menu-top_point-nav a {
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
}
.menu-top_point-nav a:hover {
	text-decoration: none;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.75);
}
.menu-top_point-nav_icon {
	width: 24px;
	height: 21px;
	padding-left: 24px;
	background-image: url("../img/expand_more.png");
	background-repeat: no-repeat;
	background-position: center;
}
.menu-top-button_login {
	margin-left: 20px;
	margin-top: 3px;
	width: 99px;
	height: 34px;
	background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	position: relative;
	padding: 2px;
	display: inline-block;
}
.menu-top-button_login-input {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #BC9CFF;
	text-align: center;
	cursor: pointer;
	background-color: #FFFFFF;
	border-radius: 20px;
	padding: 8px 19px;
}
.menu-top-button_register {
	margin-left: 20px;
	margin-top: 3px;
	width: 196px;
	height: 34px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	padding: 9px 19px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}
/*---------------------*/
.menu-top-mini {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}
.menu-top-login {
	border-left: 1px solid rgba(31, 32, 65, 0.1);
	padding-left: 20px;
	margin-left: 20px;
	padding-top: 13px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
}
/*------------*/
.footer-top {
	margin-top: 40px;
	padding: 100px 140px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-top_company {
	width: 260px;
}
.footer-top_advert {
	/*width: 260px;*/
	margin-top: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.75);
}
/*-------------------------*/
.footer-top-navi {
	width: 145px;
}
.footer-top-navi_title, .footer-top-abaut_title, .footer-top-support_title, .footer-top-mail_title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1F2041;
}
.footer-top-navi_menu, .footer-top-abaut_menu, .footer-top-support_menu, .footer-top-mail_menu {
	margin-top: 20px;
}
.footer-top-navi_menu a, .footer-top-abaut_menu a, .footer-top-support_menu a, .footer-top-mail_menu a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
	text-decoration: none;
}
.footer-top-navi_menu a:hover, .footer-top-abaut_menu a:hover, .footer-top-support_menu a:hover, .footer-top-mail_menu a:hover {
	color: rgba(31, 32, 65, 0.75);
}
/*------------------------------*/
.footer-top-abaut {
	width: 110px;
}
.footer-top-support {
	width: 152px;
}
.footer-top-mail {
	width: 260px;
}
.footer-top-mail-form {
	margin-top: 20px;
	position: relative;
}
.footer-top-mail_input {
	width: 260px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
	padding: 12px 30px 8px 15px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.25);
	position: absolute;
	left: 0;
	top: 0;
}
.footer-top-mail_button {
	border: none;
	width: 44px;
	height: 44px;
	padding-left: 44px;
	background: url("../img/arrow_right_blue.png") center no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
/*-----------------------------*/
.footer-bottom {
	padding: 23px 140px;
	background-color: #fff;
	border-top: 1px solid #E5E5E5;;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-bottom_copyr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.75);
}
.footer-bottom-social {
	width: 112px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-social_twit, .footer-social_fb, .footer-social_inst {
	width: 24px;
	height: 24px;
	padding-left: 24px;
}
.footer-social_twit {
	background: url("../img/tviter_24.png") center no-repeat;
}
.footer-social_fb {
	background: url("../img/fb_24.png") center no-repeat;
}
.footer-social_inst {
	background: url("../img/inst_24.png") center no-repeat;
}
/*-------------------------------*/
.foter-mini {
	margin: 0 auto;
	background-color: #FFFFFF;
	width: 768px;
	margin-top: 40px;
	padding: 120px 104px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
.foter-mini .footer-bottom_copyr {
	margin-top: 20px;
}
.foter-mini .footer-bottom-social {
	margin-top: 25px;
}