html {
	box-sizing: border-box;
}
*, ::before, ::after {
	box-sizing: inherit;
}
img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
body {
	max-width: 1440px;
	min-width: 320px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 28px;
	background: #E5E5E5;
}
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
h1 {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #1F2041;
}
.logo {
	width: 48px;
	height: 48px;
	background-image: url("../img/Group.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 30px;
}
.left-wrap, .centr-wrap, .right-wrap {
	margin-top: 110px;
}
/*левый столбец*/
.left-wrap {}
.search, .registration {
	width: 380px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin-top: 40px;
	padding: 30px;
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.coming, .departure, .visitor {
	width: 150px;
	margin-top: 21px;
}
/*надписи над полями фильтра*/
.coming-text, .departure-text, .visitor-text {
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1F2041;
	/*margin-top: 21px;*/
}
/**/
.form-coming, .form-departure, .form-visitor {
	display: block;
	height: 44px;
	background-color: #FFFFFF;
	margin-top: 6px;
	width: 150px;
	position: relative;
}
.form-visitor {
	width: 320px;
}
.form-coming_input, .form-departure_input, .form-visitor_input {
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
	padding: 12px 32px 13px 15px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(31, 32, 65, 0.75);
	position: absolute;
	width: 150px;
}
.form-visitor_input {
	width: 320px;
}
.form-coming_button, .form-departure_button, .form-visitor_button {
	width: 44px;
	height: 42px;
	background-color: #FFFFFF;
	background-image: url("../img/expand_more.png");
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	border-radius: 4px;
	position: absolute;
	right: 1px;
	top: 1px;
	cursor: pointer;
}
/*форма запроса на поиск по дате*/
.search h1 {
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 29px;
	text-align: left;
}
.search-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.search-form_visitor {
	width: 320px;
}
.search-button {
	margin-top: 31px;
	position: relative;
}
.search-button_result {
	padding: 14px 22px 15px 18px;
	width: 320px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 14px;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: center;
}
.search-button_result_icon {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	width: 44px;
	height: 44px;
	border-radius: 22px;
	position: absolute;
	background-image: url("../img/arrow_forward.png");
	background-position: center;
	background-repeat: no-repeat;
	right: 0;
	top: 0;
}
/*----------------------------------------------------*/
/*форма регистрации аккаунта*/
.registration {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.registration h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #1F2041;
}
.registration-first-name_input, .registration-last-name_input, .form-birthday_input, .form-logins_login, .form-logins_pasword {
	width: 320px;
	margin-top: 20px;
	padding: 13px 15px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(31, 32, 65, 0.25);
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
}
.registration-sex {
	/*width: 202px;*/
	width: 202px;
	margin-top: 11px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.registration-sex_man, .registration-sex_woman {
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	position: relative;
}
.registration-sex input[type=radio] {
	display: none;
}
.registration-sex label{
	width: 48px
}
.registration-sex input[type=radio]:checked + label:before {
	width: 20px;
	height: 20px;
	background: url(../img/Rectangle_2.png) 0 0 no-repeat;
}
.registration-sex label:before {
	content: " ";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background: url(../img/Rectangle_1.png) 0 0 no-repeat;
	margin-right: 10px;
	cursor: pointer;
}
.registration-sex label:hover:before {
	filter: brightness(75%);
}
.registration-sex_text {
	padding-left: 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: rgba(31, 32, 65, 0.5);
	cursor: pointer;
}
.registration-sex_text:hover {
	color: rgba(31, 32, 65, 0.75);
}
.birthday {
	margin-top: 24px;
}
.form-birthday_input, .form-logins_login, .form-logins_pasword {
	margin-top: 5px;
}
.logins {
	margin-top: 20px;
}
.mailing {
	margin-top: 10px;
}
.mailing-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.75);
	padding-left: 50px;
	width: 260px;
	position: absolute;
	left: 0;
	top: -2px;
}
.mailing-check {
	display: inline-block;
	width: 40px;
	height: 20px;
	padding: 5px 5px 5px 38px;
	margin: 0;
	position: relative;
	cursor: pointer;
}
.mailing-check_input{
	position: absolute;
	opacity: 0;
	cursor: inherit;
}
.mailing-text:before,
.mailing-text:after{
	content: '';
	position: absolute;
	top: 12px;
	transition: 0.2s;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.mailing-text:before{
	left: 0;
	width: 40px;
	height: 20px;
	margin-top: -10px;
	border-radius: 10px;
	background: #fff;
	border: 1px solid rgba(31, 32, 65, 0.25);
}
.mailing-text:after{
	left: 4px;
	height: 12px;
	width: 12px;
	margin-top: -6px;
	background: rgba(31, 32, 65, 0.25);
	border-radius: 10px;
}
.mailing-check_input:checked + .mailing-text:before{
	background: #fff;
	border: 1px solid rgba(31, 32, 65, 0.75);
}
.mailing-check_input:checked + .mailing-text:after{
	left: 24px;
	background: rgba(31, 32, 65, 0.75);
}
.payment-button {
	margin-top: 24px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
}
.payment-button_result {
	padding: 14px 22px 15px 18px;
	width: 320px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: center;
}
.payment-button_result_icon {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	width: 44px;
	height: 44px;
	border-radius: 22px;
	position: absolute;
	background-image: url("../img/arrow_forward.png");
	background-position: center;
	background-repeat: no-repeat;
	right: 0;
	top: 0;
}
.entry {
	width: 320px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-items: center;
	margin-top: 30px;
}
.entry-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
}
.entryt-button {
	width: 99px;
	background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	position: relative;
	padding: 2px;
	display: inline-block;
}
.entryt-button_result {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #BC9CFF;
	cursor: pointer;
	background-color: #FFFFFF;
	border-radius: 20px;
	padding: 14px 26px;
}

/*----------------------------------------------------*/
/*центральный столбец*/
.centr-wrap {}
.result, .login {
	width: 380px;
	padding: 40px 30px 30px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin-top: 40px;
	padding: 30px;
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.search-result {
	width: 320px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
}
.search-result-room {
	font-size: 14px;
	line-height: 17px;
	color: #1F2041;
}
.search-result-room_nom {
	font-size: 24px;
	line-height: 17px;
	color: #1F2041;
}
.search-result-room_type {
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #BC9CFF;
}
.search-result-price {
	padding-top: 3px;
	line-height: 18px;
	color: rgba(31, 32, 65, 0.5);
}
.result-coming, .result-departure, .result-visitor, .result-price, .reserv-button {
	margin-top: 20px;
}

.result-price, .reserv-button {
	width: 320px;
}
.price-room, .price-services, .price-more-services {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.75);
}
.price-room, .price-services, .price-more-services, .total-result {
	position: relative;
	margin-top: 10px;
	height: 24px;
}
.price-room_text, .price-services_text, .price-more-services_text {
	position: absolute;
	left: 0;
	top: 0;
	width: 214px;
}
.price-more-services {
	height: 36px;
}
.price-services_inf, .price-more-services_inf {
	width: 20px;
	height: 20px;
	margin-left: 5px;
	position: absolute;
	left: 214px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
	padding-top: 2px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: rgba(31, 32, 65, 0.25);
}
.price-room_summ, .price-services_summ, .price-more-services_summ {
	position: absolute;
	right: 0;
}
.total-result {
	margin-top: 20px;
}
.total-result_text, .total-result_summ {
	position: absolute;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 23px;
	color: #1F2041;
}
.total-result_text {
	left: 0;
}
.total-result_summ {
	right: 0;
}
.reserv-button {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
}
.reserv-button_result {
	padding: 14px 22px 15px 18px;
	width: 320px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: center;
}
.reserv-button_result_icon {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	width: 44px;
	height: 44px;
	border-radius: 22px;
	position: absolute;
	background-image: url("../img/arrow_forward.png");
	background-position: center;
	background-repeat: no-repeat;
	right: 0;
	top: 0;
}
/*поле логин*/
.login {}
.login-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #1F2041;
}
.login-form {
	margin-top: 10px;
}
.login-email_input, .login-pasw_input {
	width: 320px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	padding: 12px 15px 8px;
	margin-top: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.25);
}
.login-button {
	margin-top: 28px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
}
.login-button_result {
	padding: 14px 22px 15px 18px;
	width: 320px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0em;
	text-align: center;
}
.login-button_result_icon {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	width: 44px;
	height: 44px;
	border-radius: 22px;
	position: absolute;
	background-image: url("../img/arrow_forward.png");
	background-position: center;
	background-repeat: no-repeat;
	right: 0;
	top: 0;
}
.login-entry {
	width: 320px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-items: center;
	margin-top: 30px;
}
.login-entry-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
}
.login-entryt-button {
	width: 99px;
	background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	position: relative;
	padding: 2px;
	display: inline-block;
}
.login-entryt-button_result {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #BC9CFF;
	cursor: pointer;
	background-color: #FFFFFF;
	border-radius: 20px;
	padding: 14px 18px;
}


/*правый столбец*/
.right-wrap {}
.calendar {
	width: 320px;
	padding: 40px 30px 30px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 20px;
	margin-top: 40px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.calendar-top, .calendar-bottom {
	width: 280px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.calendar-top_left, .calendar-top_right {
	width: 24px;
	height: 24px;
}
.calendar-top_left {
	background-image: url("../img/arrow_left_blue.png");
	background-position: center;
	background-repeat: no-repeat;
}
.calendar-top_right {
	background-image: url("../img/arrow_right_blue.png");
	background-position: center;
	background-repeat: no-repeat;
}
.calendar-month-year {
	height: 24px;
}
.calendar-month, .calendar-year {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 23px;
	text-align: center;
	color: #1F2041;
}
.calendar-month {
	margin-right: 10px;
}
.calendar-year {}
.calendar-table {
	margin: 30px 1px 0px;
	border-collapse: collapse;
}
.calendar-table_title td {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	align-items: center;
	text-align: center;
	color: #BC9CFF;
}
.calendar-table td {
	width: 40px;
	height: 40px;
	text-align: center;
	border-collapse: collapse;
	cursor: pointer;
	z-index: 5;
}
.current-month {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	align-items: center;
	text-align: center;
	color: rgba(31, 32, 65, 0.5);
}
.old-month, .future-month {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	align-items: center;
	text-align: center;
	color: rgba(31, 32, 65, 0.25);
}
.calendar-month-today {
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border-radius: 22px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}
.current-day_start, .current-day_end {
	width: 40px;
	height: 40px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	z-index: 10;
}
.current-day_end {}
.current-day_live {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	opacity: 0.25;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	align-items: center;
	text-align: center;
	color: rgba(31, 32, 65, 0.5);
	border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-image-slice: 1;
}
.calendar-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: #BC9CFF;
}

/*------------мини слайды------------*/
.result-mini {
	width: 270px;
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
	margin-top: 40px;
	padding: 20px;
}

.result-mini-top {
	height: 132px;
	position: relative;
}
.result-mini-top_fon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	left: -20px;
	top: -20px;
	width: 270px;
	height: 152px;
	border-radius: 4px 4px 0 0;
	z-index: 5;
}
.mini-first-fon {
	background-image: url("../img/slide/image_1.png");
}
.mini-last-fon {
	background-image: url("../img/slide/image_2.png");
}
.result-mini-top_back {
	position: absolute;
	left: -20px;
	top: 33px;
	width: 44px;
	height: 44px;
	background-image: url("../img/arrow_left_white.png");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;
}
.result-mini-top_next {
	position: absolute;
	right: -20px;
	top: 33px;
	width: 44px;
	height: 44px;
	background-image: url("../img/arrow_right_white.png");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;
}
.result-mini-top_slide {
	width: 36px;
	position: absolute;
	top: 108px;
	right: 15px;
	display: flex;
	justify-content: space-between;
	z-index: 10;
}
.result-mini-top_slide_focus {
	width: 8px;
	height: 8px;
	border: 1px solid #fff;
	border-radius: 4px;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
}
.result-mini-top_slide_other {
	width: 8px;
	height: 8px;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	box-sizing: border-box;
	filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
}
.result-mini-center {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
}
.result-mini-center_text-namber {
	font-size: 14px;
	line-height: 17px;
	color: #1F2041;
}
.result-mini-center_text-type {
	font-size: 12px;
	line-height: 15px;
	color: #BC9CFF;
}
.result-mini-center_text-summ {
	font-size: 14px;
	line-height: 18px;
	color: rgba(31, 32, 65, 0.5);
}
.result-mini-center_text-taime {
	font-weight: normal;
	font-size: 12px;
}
.result-mini-bottom {
	margin-top: 12px;
	border-top: 2px solid rgba(31, 32, 65, 0.1);
	padding-top: 8px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.result-mini-bottom_rating {}
.rating-result {
	width: 120px;
	display: flex;
	justify-content: space-between;
	color: #8BA4F9;
}
.rating-result_star {
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 20px;
	align-items: center;
	text-align: center;
	z-index: 5;
}
.rating-result_star-on::before {
	content: "\2605";
	position: absolute;
	z-index: 10;
	color: #8BA4F9;
}
.result-mini-bottom_comment, .result-mini-bottom_comment-text {
	font-size: 12px;
	line-height: 14px;
	/*text-align: right;*/
	color: rgba(31, 32, 65, 0.5);
	padding-top: 4px;
}
.result-mini-bottom_comment-text {
	font-weight: normal;
}



